:root {
    --main-color: #EB5E28;
    --font-color: #252422;
    --background-color: #CCC5B9;
}

.contatti{
    position: relative;
    padding: 2em 2em 10em 2em;
    top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
    background-color: var(--background-color);
  
}
.contatti > .title{
    margin: 1.5em 0;
}

.contatti > .info-body{
    margin: 0.075em;
    padding: 1em 1.75em;
    border: 2px var(--main-color) solid;
    
}
.contatti > .info-body > .info{
    font-style: italic;
    padding-top: 0.5em;
    line-height: 175%;
}

.contatti > .info-body > .info-i{
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;
}

@media (min-width: 700px){
    .contatti{
        padding: 2em 5em 10em 5em;
        top: 5em;
    }
}
