:root {
    --main-color: #EB5E28;
    --font-color: #252422;
    --background-color: #CCC5B9;
}


footer{
    height: 35%;
    background-color: var(--main-color);
    color: var(--font-color);
    padding-bottom: 3em;
}

footer > .title{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}


.footer-body{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1em;
}