:root {
    --main-color: #EB5E28;
    --font-color: #403D39;
    --background-color: #CCC5B9;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: 1px 5px 5px var(--font-color);
}

header > a {
    text-decoration: none;
}

header > a > .title {
    display: flex;
    height: min-content;
    flex-direction: row;
    align-items: baseline;
    color: var(--font-color);
}

.title > * {
    margin:0;
}

header > .menu {
    position: absolute;
    right: 7em;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
    border-radius: 25%;
}

header > .menu:hover,
header > .open {
    background-color: var(--background-color);
}


.burger {
    display: block;
    position: absolute;
    content: '';
    width: 2.5em;
    height: .2em;
    border-radius: 45px;
    
    background-color: var(--font-color);
}

.burger::before {
    display: block;
    position: absolute;
    content: '';
    width: 2.5em;
    height: .2em;
    border-radius: 45px;
    top: -.7em;
    right: 0;
    background-color: var(--font-color);
}

.burger::after {
    display: block;
    position: absolute;
    content: '';
    width: 2.5em;
    height: .2em;
    border-radius: 45px;
    top: .7em;
    right: 0;
    background-color: var(--font-color);
}

.nav {
    position: absolute;
    right: 0;
    top: 5em;
    padding: 5em;
    background-color: var(--main-color);
    height: calc(100vh - 5em);
    width: 15vw;
}

.nav > ul {
    list-style: none;
}

.nav li {
    margin-bottom: 3em;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.nav li > a {
    color: var(--font-color);
    text-decoration: none;
}

.nav li > a:hover {
    color: var(--background-color);
    text-decoration: underline;
}

