:root {
    --main-color: #EB5E28;
    --font-color: #252422;
    --background-color: #CCC5B9;
}

.circle{
    position: relative;
    top: 5em;
    padding-top: 6em;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    padding-bottom: 10em;
    margin-bottom: 5em;
}

.circle-left{
    justify-self: right;
    margin-right: 0.5em;
    width: 150px;
    height: 300px;
    text-align: left;
    border-radius: 150px 0 0 150px;
    border: black solid 1px;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    color: var(--font-color);
    font-size: 17px;
}

.circle-right{
    justify-self: left;
    margin-left: 0.5em;
    width: 150px;
    height: 300px;
    border-radius: 0 150px 150px 0;
    border: black solid 1px;
    display: flex;
    align-items: center;
    text-align: right;
    background-color: var(--main-color);
    color: var(--font-color);
    font-size: 17px;
}
.circle-right > .text{
    margin-left: auto;
}

@media (min-width: 700px){
    .circle-left{
        width: 250px;
        height: 500px;
        border-radius: 250px 0 0 250px;
        font-size: 27px;
    }
    .circle-right{
        width: 250px;
        height: 500px;
        border-radius: 0 250px 250px 0;
        font-size: 27px;
    }
}