:root {
    --main-color: #EB5E28;
    --font-color: #252422;
    --background-color: #CCC5B9;
}

.circle{
    position: relative;
    top: 5em;
    padding-top: 6em;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    padding-bottom: 10em;
    margin-bottom: 5em;

}

.circle-left{
    justify-self: right;
    margin-right: 0.5em;
    width: 150px;
    height: 300px;
    text-align: left;
    border-radius: 150px 0 0 150px;
    border: var(--font-color) solid 1px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255,255,255, 0.2) 0 100%), url(../img/Resid.jpg);
    background-size: 190%;
    background-position: 40% 40%;
    background-repeat: no-repeat;
    color: var(--font-color);
    font-size: 17px;
    box-shadow: 0px 5px 10px gray;
    position: relative;
}

.circle-right {
    justify-self: left;
    margin-left: 0.5em;
    width: 150px;
    height: 300px;
    border-radius: 0 150px 150px 0;
    border: var(--font-color) solid 1px;
    display: flex;
    align-items: center;
    text-align: right;
    background-image: linear-gradient(to right, rgba(255,255,255, 0.2) 0 100%), url(../img/Indus.jpg);
    background-size: 260%;
    background-position: 60% 0;
    background-repeat: no-repeat;
    color: var(--font-color);
    font-size: 17px;
    box-shadow: 0px 5px 10px gray;
    position: relative;
}
.circle-right > .text {
    margin-left: auto;
    position: absolute;
    right: -.5em;
    font-size: 1.8em;
    top: 4em;
}
.circle-left > .text {
    position: absolute;
    left: -.5em;
    font-size: 1.8em;
    top: 3em;
}
.text > a {
    color: var(--font-color);
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--background-color), 
                 2px -2px 0 var(--background-color), 
                -2px 2px 0 var(--background-color), 
                -2px -2px 0 var(--background-color), 
                2px 0px 0 var(--background-color), 
                0px 2px 0 var(--background-color), 
                -2px 0px 0 var(--background-color), 
                0px -2px 0 var(--background-color);
}

@media (min-width: 700px){
    .circle-left{
        width: 250px;
        height: 500px;
        border-radius: 250px 0 0 250px;
        font-size: 27px;
    }
    .circle-right{
        width: 250px;
        height: 500px;
        border-radius: 0 250px 250px 0;
        font-size: 27px;
    }

    .text > a:hover {
        color: var(--font-color);
        text-decoration: none;
        text-shadow: 2px 2px 0 var(--main-color), 
                     2px -2px 0 var(--main-color), 
                    -2px 2px 0 var(--main-color), 
                    -2px -2px 0 var(--main-color), 
                    2px 0px 0 var(--main-color), 
                    0px 2px 0 var(--main-color), 
                    -2px 0px 0 var(--main-color), 
                    0px -2px 0 var(--main-color);
    }
}