:root {
    --main-color: #EB5E28;
    --font-color: #252422;
    --background-color: #CCC5B9;
}
.residenziale{
    position: relative;
    top: 5em;
}
.residenziale > .title{
    margin-top: 3em;
    margin-bottom: 3em;
    width: calc(100% - 2em);
    margin-left: auto;
    margin-right: auto;
}

.residenziale > .photo-grid { 
    width: calc(100% - 2em);
    column-count: 3;
    column-gap: 1em;
    margin-left: auto;
    margin-right: auto;
}
  
.residenziale > .photo-grid > img { 
background-color: #eee;
display: inline-block;
margin: 0 0 1em;
width: 100%;
}

@media (min-width: 1000px) {
    .residenziale > .title{
        width: 70%;

    }
    .residenziale > .photo-grid { 
        width: 70%;
    }
}